/* Element selectors */
body {
    padding: 10px;
    background-color: lightblue;
}

div {
    vertical-align: middle;
}

label {
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
/* End of Element selectors */

/* Id selectors */
#header {
    color: forestgreen;
}

#loan-balances-plot-section {
    border: 1px solid black;
    max-width: 50%;
}

/* #loan-balances-plot-canvas {
} */

#controls {
    display: grid;
}

#loan-info-section {
    grid-column: 1;
    border-style: solid;
    margin: 15px;        
}

#payment-section {
    grid-column: 2;
    border-style: solid;
    margin: 15px;        
}

#payoff-section {
    grid-column: 3;
    border-style: solid;
    margin: 15px;
}
/* End of Id selectors */